<h1 class="text-center">Sell It</h1>
<p class="text-muted text-center">Sell your own item</p>
<hr>
<div class="col-md-8 col-md-offset-2">
  <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="itemName">Item Name</label>
      <input
        type="text"
        id="itemName"
        class="form-control"
        formControlName="itemName">
    </div>
    <div class="form-group">
      <label for="price">Price</label>
      <input
        type="text"
        id="price"
        class="form-control"
        formControlName="price">
    </div>
    <div class="form-group">
      <label for="image">Image URL</label>
      <input
        type="text"
        id="image"
        class="form-control"
        formControlName="image">
    </div>
    <div class="form-group">
      <label for="itemInformation">Item Information</label>
      <textarea rows="25" cols="50" id="itemInformation" class="form-control" formControlName="itemInformation">
      </textarea>
    </div>
    <button
      class="btn btn-primary"
      type="submit"
      [disabled]="!myForm.valid">Post
    </button>
  </form>
</div>