<div class="jumbotron">
  <a href="#" class="visible-xs" data-toggle="offcanvas"><i class="fa fa-lg fa-reorder"></i></a>
  <h1>Sell Stuff</h1>
  <p>Website for selling and buying stuff</p>
</div>
<div class="row">
  <div class="col-xs-6 col-md-3">
    <div class="thumbnail">
      <img src="https://img0.etsystatic.com/102/0/5652312/il_340x270.837980030_kq8k.jpg">
      <div class="caption">
        <p>Item Name</p>
        <p class="text-muted">Seller</p>
        <p>Price: $$$</p>
        <p><a href="#" class="btn btn-primary" role="button">See More</a></p>
      </div>
    </div>
  </div>
  <div class="col-xs-6 col-md-3">
    <div class="thumbnail">
      <img src="https://img0.etsystatic.com/073/1/9495450/il_340x270.826661288_bjua.jpg">
      <div class="caption">
        <p>Item Name</p>
        <p>Seller</p>
        <p>Price: $$$</p>
        <p><a href="#" class="btn btn-primary" role="button">See More</a></p>
      </div>
    </div>
  </div>
  <div class="col-xs-6 col-md-3">
    <div class="thumbnail">
      <img src="https://img0.etsystatic.com/028/0/6718250/il_340x270.510862150_lpvn.jpg">
      <div class="caption">
        <p>Item Name</p>
        <p>Seller</p>
        <p>Price: $$$</p>
        <p><a href="#" class="btn btn-primary" role="button">See More</a></p>
      </div>
    </div>
  </div>
  <div class="col-xs-6 col-md-3">
    <div class="thumbnail">
      <img src="https://img1.etsystatic.com/130/0/6240893/il_340x270.1029470699_r6vp.jpg">
      <div class="caption">
        <p>Item Name</p>
        <p>Seller</p>
        <p>Price: $$$</p>
        <p><a href="#" class="btn btn-primary" role="button">See More</a></p>
      </div>
    </div>
  </div>
</div>