<h1 class="text-center">Sign In</h1>
<hr>
<div class="col-md-4 col-md-offset-4">
  <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="email">Email</label>
      <input
        type="email"
        id="email"
        class="form-control"
        formControlName="email">
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input
        type="password"
        id="password"
        class="form-control"
        formControlName="password">
    </div>
    <button
      class="btn btn-primary"
      type="submit"
      [disabled]="!myForm.valid">Login
    </button>
  </form>
</div>